@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050510;
  --foreground: #ededed;
}

html,
body {
  height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

canvas {
  touch-action: none;
}
